<div class="favorite-link" id="favorite-link-<%= festival.id %>">
<% if controller.controller_name == 'homes' && controller.action_name == 'top' %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"><%= festival.favorites.count %> いいね</span>
<% else %>
  <% if user_signed_in? %>
    <% if current_user.favorites.find_by(festival_id: festival.id) %> <%= link_to unfavorite_path(festival.id), method: :delete, remote: true do %>
        <p><span class="glyphicon glyphicon-heart-empty" aria-hidden="true" style="color: red;"></span>
        <%= festival.favorites.size %> いいね</p>
      <% end %>
    <% else %>
      <%= link_to favorite_path(festival.id), method: :post, remote: true do %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <%= festival.favorites.size %> いいね</p>
      <% end %>
    <% end %>
  <% else %>
        <p><span class="glyphicon glyphicon-thumbs-up iine" aria-hidden="true"><%= festival.favorites.count %> いいね</span></p>
  <% end %>
<% end %>
</div>
