<div id="wrapper">
    <%= render 'layouts/user-nav' %>
</div>
<div class="container">
    <div class="row">
    <%= form_with model: @artist, local: true  do |f| %>
        <div class="col-lg-6">
            <div class="row">
            <%= f.file_field :image, class: "form-control" %>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
            <%= f.text_field :name, class: "form-control" %>
            <%= f.submit '登録',  class: "btn-flat-border" %>
            </div>
        </div>
    <% end %>
    </div>
</div>
<div class="sam">
    <% @artists.each do |f| %>
        <% if f.image.attached? %>
            <%= image_tag f.image.variant(combine_options:{resize:"100x100^",crop:"100x100+0+0",gravity: :center, border:'5',bordercolor:'#00CCCC'}).processed %> <br>
        <% end %>
        <%= f.name %>
    <% end %>
</div>