<div id="wrapper">
    <%= render 'layouts/user-nav' %>
</div>
<%= render 'layouts/top-nav' %>
<div class="jumbotron background-image1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 user-edit-index">
                <div class="col-lg-12 favorite-artist-user">                    
                    <div class="col-lg-10 afrojack">
                        <h2 class="text-center"><%= @user.name %>'s FAVORITE<i class="fab fa-optin-monster"></i></h2>
                    </div>
                    <div class="col-lg-2">
                        <div class="artist2">
                            <%= attachment_image_tag  @user, :profile_image, :fill, 125, 125, format: 'jpeg',fallback: 'no_image.png', size: "125x125", class: 'user-image' %>
                        </div>
                    </div>
                </div>
				<div class="col-xs-12">
					<% @favoritefestivals.each do |festival| %> 
						<div class="col-lg-2 product-index">							
							<% if festival.festival.images.attached? %>
								<div class="slider1">
									<% festival.festival.images.each do |image| %> 
										<div class="festival">
											<%= image_tag image.variant(combine_options:{resize:"300x300^",crop:"300x300+0+0",gravity: :center, border:'2', bordercolor:'#00CCCC'}).processed %>
										</div>
									<% end %>
								</div>
								<div class="col-lg-12 festivalname">
									<%= link_to "/festivals/#{festival.festival.id}" do %>
										<div class="col text-center">
											<%= festival.festival.name %>
											<p class="adress"><i class="fas fa-globe"></i><%= festival.festival.adress %></p>
										</div>
									<% end %>
								</div>
							<% end %>							
						</div>
					<% end %>		
				</div>
			</div>
		</div>
	</div>
</div>