<div id="wrapper">
    <%= render 'layouts/user-nav' %>
</div>

<div id="skippr-container">
  <div id="theTarget">
    <div class="image1">
        <div class="top-contents">
            <h1 class="home-text">MORE   LAREN<br> MUSIC   FESTIVAL</h1>
            <p class="text">知っとこう世界の楽しそうなこと</p>
        </div>
        <div id="link-btn">
            <%= link_to 'START', "/festivals" %>
        </div>
    </div>
    <div class="image2">
        <div class="top-contents">
            <h1 class="home-text">MORE   LAREN<br> MUSIC   FESTIVAL</h1>
            <p class="text">楽しい遊びを知っとこう</p>
        </div>
        <div id="link-btn">
            <%= link_to 'START', "/festivals" %>
        </div>
    </div>
    <div class="image3">
        <div class="top-contents">
            <h1 class="home-text">MORE   LAREN<br> MUSIC   FESTIVAL</h1>
            <p class="text">音と楽しくユーラユラ</p>
        </div>
        <div id="link-btn">
            <%= link_to 'START', "/festivals" %>
        </div>
    </div>
    <div class="image4">
        <div class="top-contents">
            <h1 class="home-text">MORE   LAREN<br> MUSIC   FESTIVAL</h1>
            <p class="text">ストレス発散</p>
        </div>
        <div id="link-btn">
            <%= link_to 'START', "/festivals" %>
        </div>
    </div>
  </div>
</div>