<div id="wrapper">
    <%= render 'layouts/user-nav' %>
</div>

<div id="skippr-container">
  <div id="theTarget">
    <div class="image1">
        <div class="top-contents">
            <h1 class="home-text">MUSIC  FESTIVAL IS LIFE</h1>
        </div>
        <div class="home-btn">
            <%= link_to "/festivals" do %>
                <p class="btnText">READY?</p>
                <div class="btnTwo">
                <p class="btnText2">GO!</p>
                </div>
            <% end %>
        </div>
    </div>
    <div class="image2">
        <div class="top-contents">
            <h1 class="home-text">MUSIC  FESTIVAL IS LIFE</h1>
        </div>
        <div class="home-btn">
            <%= link_to "/festivals" do %>
                <p class="btnText">READY?</p>
                <div class="btnTwo">
                    <p class="btnText2">GO!</p>
                </div>
            <% end %>
        </div>
    </div>
    <div class="image3">
        <div class="top-contents">
            <h1 class="home-text"> MUSIC  FESTIVAL IS LIFE</h1>
        </div>
        <div class="home-btn">
            <%= link_to "/festivals" do %>
                <p class="btnText">READY?</p>
                <div class="btnTwo">
                    <p class="btnText2">GO!</p>
                </div>
            <% end %>
        </div>
    </div>
    <div class="image4">
        <div class="top-contents">
            <h1 class="home-text"> MUSIC  FESTIVAL IS LIFE</h1>
        </div>
        <div class="home-btn">
            <%= link_to "/festivals" do %>
                <p class="btnText">READY?</p>
                <div class="btnTwo">
                <p class="btnText2">GO!</p>
                </div>
            <% end %>
        </div>
    </div>
  </div>
</div>