<div id="wrapper">
    <%= render 'layouts/user-nav' %>
</div>
<%= render 'layouts/top-nav' %>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-lg-offset-3">
        <%= form_for @festival, url: "/festivals/#{@festival.id}" do |f| %>
        <h1>編集</h1>
            <table class="table">
                <tbody>
                    <tr><th>名前</th><th> <%= f.text_field :name, class: "form-control" %> </th></tr>
                    <tr><th>値段</th><th> <%= f.text_field :price, class: "form-control" %> </th></tr>
                    <tr><th>開催日</th><th> <%= f.datetime_select :day, class: "form-control" %> </th></tr>
                    <tr><th>開催地域</th><th> <%= f.text_field :regions, class: "form-control" %> </th></tr>
                    <tr><th>ジャンル</th><th><%= f.text_field :genre, class: "form-control" %></th></tr>
                    <tr><th>コメント</th><th><%= f.text_area :introduction, class: "form-control" %></th></tr>
                    <tr><th>画像</th><th><%= f.attachment_field :image, class: "form-control" %></th></tr>
                    <tr><th></th><th><%= f.submit '更新',  class: "btn-flat-border btn-block" %></th></tr>
                    <tr><th>削除</th><th><%= link_to "削除", "/festivals/#{@festival.id}",　method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-flat-border" %></th></tr>
                </tbody>
            </table>
        <% end %>

        </div>
    </div>
</div>





