<div id="wrapper">
    <%= render 'layouts/user-nav' %>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12 index-festival">
            <div class="row">
                <div class="col-xs-4">
                <%= link_to "/users/#{@festival.user.id}" do %> 
                    <%= @festivaluser.name %>
                    <%= attachment_image_tag  @festival.user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: 'no_image.png', size: "50x50", class: 'user-image' %>
                <% end %>
                    <%= attachment_image_tag @festival, :image, :fill, 400, 400, format: "jpeg", fallback: "no_image.png", size: "400x400", class: 'festival-image' %>
                </div>
            <div class="col-xs-6">
                <table class="table">
                    <tbody>
                        <tr><th>名前</th><th> <%= @festival.name %></th></tr>
                        <tr><th>値段</th><th>  <%= @festival.price %> </th></tr>
                        <tr><th>ジャンル</th><th><%= @festival.genre %></th></tr>
                        <tr><th>開催日</th><th> <%= @festival.day %></th></tr>
                        <tr><th>開催地域</th><th><%= @festival.regions %></th></tr>
                        <tr><th>コメント</th><th> <%= @festival.introduction %></th></tr>
                        <tr><th>編集</th><th><%= link_to "投稿編集", "/festivals/#{@festival.id}/edit", class: "btn-flat-border" %></th></tr>
                        <tr><th>削除</th><th><%= link_to "削除", "/festivals/#{@festival.id}",　method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-flat-border" %></th></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 

</div>