<div class="top-nav">
	<div class="input-group">
		<div class="serch-box">
			<div class="serch-logo">
				<span data-turbolinks="false">
					<%= link_to "/" do  %>
						<i class="fas fa-peace"></i>
					<% end %>
				</span>	
			</div>	
			<%= search_form_for @q, url: festivals_path do |f| %>
				<%= f.search_field :name_cont, class:"form-control search-form",style:"width:300px",placeholder:"検索" %>
				<span class="input-group-btn">
					<%= f.submit "検索", class:"btn btn-default" %>
				</span>
		　　 <% end %>
			<div class="serch-logo1">
				<span data-turbolinks="false">
					<%= link_to "/" do  %>
						<i class="fas fa-peace"></i>
					<% end %>
				</span>
			</div>
		</div>
	</div>
</div>