<p class="btn-gnavi">
    <span></span>
    <span></span>
    <span></span>
    
</p>
<nav id="global-navi">
    <ul class="menu">
        <% if user_signed_in? %>
        <li>
            <span data-turbolinks="false">
                <%= link_to '・トップページ', "/festivals" %>
            </span>
        </li>
        <li>
            <span data-turbolinks="false">
                <%= link_to '・マイページ', "/users/#{current_user.id}" %>
            </span>
        </li>
        <li>
            <span data-turbolinks="false">
                <%= link_to "・マイページ編集", "/users/#{current_user.id}/edit" %>
            </span>
        </li>        
        <li>
            <span data-turbolinks="false">
               <%= link_to '・新規投稿', "/festivals/new" %>
            </span>
        </li>        
        <span data-turbolinks="false">
            <li><%=  link_to '・地図でみる', "/map"  %></li>
        </span>
        <li>
            <span data-turbolinks="false">
               <%= link_to '★アーティスト一覧', "/users/#{current_user.id}/favorite_artists" %>
            </span>
        </li> 
        <li>
            <span data-turbolinks="false">
               <%= link_to '♡フェス一覧', "/users/#{current_user.id}/favorite_festtivals" %>
            </span>
        </li> 
        <li>
            <span data-turbolinks="false">
              <%= link_to '・ログアウト', "/users/sign_out", method: :delete %>
            </span>
        </li>                                               
        <% else %>
        <li>
            <span data-turbolinks="false">
              <%= link_to 'トップページ', "/festivals" %>
            </span>
        </li>
        <li>
            <span data-turbolinks="false">
              <%= link_to 'ログイン', "/users/sign_in" %>
            </span>
        </li> 
        <li>
            <span data-turbolinks="false">
              <%= link_to '新規登録', "/users/sign_up" %>
            </span>
        </li>                           
        <% end %>
    </ul>
</nav>