<div id="wrapper">
    <%= render 'layouts/user-nav' %>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 sign_in_box">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-4 sign_in_box">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="sign-up-field">
              <label class="sign-up-label">お名前</label><br />
              <%= f.label :'姓' %>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "姓" %>
              <%= f.label :'名' %>
              <%= f.text_field :first_name, autofocus: true, autocomplete: "名" %>
            </div>

            <div class="sign-up-field">
              <label class="sign-up-label">お名前（カナ）</label><br />
              <%= f.label :'セイ' %>
              <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "" %>
              <%= f.label :'メイ' %>
              <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :'住所', class: "sign-up-label" %><br />
              <%= f.text_field :adress, autofocus: true, autocomplete: "", class: "sign-up-address-field" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :email, class: "sign-up-label" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :password, class: "sign-up-label" %>
              <% if @minimum_password_length %>
              <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :password_confirmation, class: "sign-up-label" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "sign-up-address-field" %>
            </div>

            <div class="sign-up-actions">
              <%= f.submit "新規登録", class: "btn btn-primary sign-in-button" %>
            </div>
          <% end %>

          <div class="sign-in-info-sign-up">
            <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

